<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/boxicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/glightbox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
        {% block stylesheets %}<style></style>{% endblock %}

    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-between">

            <a href="/" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>
            <!-- Uncomment below if you prefer to use text as a logo -->
            <!-- <h1 class="logo"><a href="/">Butterfly</a></h1> -->

            <nav id="navbar" class="navbar">
                <ul>
                <li><a class="nav-link scrollto" href="/">Accueil</a></li>
                <li><a class="nav-link scrollto" href="/#nouveaux">Nouveaux</a></li>
                <li><a class="nav-link scrollto" href="/annonces#produits">Annonces</a></li>
                <li class="dropdown"><a href="#"><span>Tag</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                    <li><a href="#">Vêtement</a></li>
                    <li><a href="#">Tech</a></li>
                    <li><a href="#">Livre</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="/login#connexion">Compte</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        {% block body %}Hello Davy{% endblock %}

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Inscrivez-vous à notre newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="S’inscrire">
                    </form>
                </div>
                </div>
            </div>
            </div>

            <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Butterfly</h3>
                    <p>
                    27 bis Rue du Progrès, <br>
                    93100 Montreuil<br>
                    France <br><br>
                    <strong>Téléphone:</strong> 01 55 86 27 70<br>
                    <strong>Email:</strong> chendavyweb@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="/">Acceuil</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/#nouveaux">Nouveaux</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/annonces#produits">Annonces</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Contact</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/login#connexion">Compte</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Tags</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Vêtement</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Tech</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Livre</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos réseaux sociaux</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                </div>
            </div>
            </div>

            <div class="container py-4">
            <div class="copyright">
                &copy; Copyright. All Rights Reserved
            </div>
            <div class="credits">
                Made by Davy and Grégory
            </div>
            </div>
        </footer><!-- End Footer -->

        <script src="{{ asset('js/purecounter.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/glightbox.min.js') }}"></script>
        <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
        <script src="{{ asset('js/validate.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}<script></script>{% endblock %}

    </body>
</html>